@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,500;0,700;1,100&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    width: 100%;
    padding: 0.1rem 0px;
    text-align: center;
    margin-top: 1rem;
}

h1{
    font-weight: 700;
    color: black;
    font-style: normal;
    font-size: 28px;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.boxes{
    width: 21rem;
    padding: 0.5rem;
}
.box-item{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    margin: 0.2rem auto;
}

.box{
    width: 3.5rem;
    height: 3.5rem;
    border: 2px solid #D3D6DA;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 700;
    text-transform: capitalize;
}

.delete{
    font-weight: 700;
}

.letters{
    margin-top: 0rem;
    width: 32rem;
}

.keys-item{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0.3rem 0.1rem;
}
#center-line{
    width: 90%;
    margin: 4px auto;
}
button{
    border-radius: 4px;
    padding: 1.1rem 1.1rem;
    border: none;
    color: black;
    cursor: pointer;
    font-weight: 700;
    text-transform: capitalize;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ced0d2;
}

.clicked{
    background-color: #0973f4;
    color: white;
    font-weight: 600;
}

.correct{
    background-color: #6AAA64;
    border: #6AAA64;
    color: white;
    font-weight: 600;
    animation-name: vertical-rotate;
    animation-duration: 1.5s;
    animation-timing-function:ease-in-out;
}

.warning{
    background-color: #C9B458;
    border: #C9B458;
    color: white;
    font-weight: 600;
    animation-name: vertical-rotate;
    animation-duration: 1.5s;
    animation-timing-function:ease-in-out;
}

.wrong{
    background-color: #787C7E;
    border: #787C7E;
    color: white;
    font-weight: 600;
    animation-name: vertical-rotate;
    animation-duration: 1.5s;
    animation-timing-function:ease-in-out;
}

@keyframes vertical-rotate {
    0%{
        transform: rotateX(0deg);
    }
    100%{
        transform: rotateX(360deg);
    }
}

.incomplete{
    /* animation: incomplete 1s ease-out 1s forwards; */
    animation-name: incomplete;
    animation-duration: 0.1s;
    animation-iteration-count: 3;
    animation-timing-function: ease-in-out;
}

@keyframes incomplete {
    0%{
        transform: translatex(-1rem);
    }
    50%{
        transform: translatex(1rem);
    }
    100%{
        transform: translatex(-1rem);
    }
}

/* tablet view */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    /* .letters {
        width: 25rem;
       } */
    
       /* button{
        padding: 1rem 0.75rem;
       } */
}

/* mobile view */
@media only screen and (min-width: 320px) and (max-width: 425px){
    
   .letters {
    width: 22rem;
   }

   button{
    padding: 1rem 3%;
   }
    
}


